/* Base styles are linked in style.css */

/* Desktop X-Large - 1920px */
@media screen and (max-width: 1920px) {
    .collection-container, .adventure-container {
        max-width: 1200px;
        margin: auto;
    }

    /* .header {
        padding: 1rem 0;
    } */
}


/* Desktop Large - 1440px */
@media screen and (max-width: 1440px) {
    .container{
        max-width: 1320px;
    }
    .collection-text h2 {
        font-size: 2.25rem;
    }

    .adventure-text h2 {
        font-size: 2rem;
    }

    .btn {
        padding: 0.5rem 1.5rem;
        font-size: 1rem;
    }
}


/* Desktop Medium - 1280px */
@media screen and (max-width: 1280px) {
    .container{
        max-width: 1140px;
    }
    .collection-text h2 {
        font-size: 2rem;
    }

    .adventure-text h2 {
        font-size: 1.75rem;
    }

    .btn {
        padding: 0.6rem 1.2rem;
        font-size: 0.9rem;
    }
}

/* Desktop Small - 1024px */
@media screen and (max-width: 1024px) {
    .container{
        max-width: 960px;
    }
    /* .header {
        padding: 1rem 2rem;
    } */

    .column6, .column8, .column4 {
        padding: 0 1rem;
    }
    .slide-text{
        top: 8%;
    }
    .adventure, .adventure-image {
        padding: 0;
    }
}


/* Tablet - 768px */
@media screen and (max-width: 767px) {
    .header {
        padding: 1rem 0.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        /* padding: 0.5rem 1rem; */
    }
    .header .row{
        justify-content: space-between; 
    }
    .hamburger {
        display: flex;
    }
    .nav-links.active {
        display: flex;
    }
    .navbar {
        background-color: #ffffff;
        position: absolute;
        top: 67px;
        left: 0px;
        right: 0px;
        z-index: 99;
        width: 100%;
        padding: 10px;
        display: none;
        z-index: 9;
    }
    .nav-links {
        display: flex;
        flex-direction: column;        
        padding: 0.5rem;     
        width: 100%;
    }
    .nav-links li {
        text-align: center;
        margin: 6px 0;
    }
    .nav-links li a{
        color: #000000;
    }
    .container{
        max-width: 720px;
    }   


    .collection-container,
    .adventure-container {
        flex-direction: column;
        align-items: center;
    }

    .column6, .column8, .column4 {
        width: 100%;
        padding: 0 1rem;
    }

    .slider .slide img {
        /* width: 100%; */
        height: 500px;
        object-fit: cover;
        object-position: 90%;
    }
    .footer-bottom {
        display: block;
        text-align: center;
    }
  
    .slide-text h2 {
        font-size: 1.4rem;
        line-height: 2rem;
    }
    .arrows {
        display: none;
    }
    .slide-text {
        text-align: center;
        width: 100%;
        left: 0%;
        bottom: 0;
        padding-bottom: 50px;
        /* position: absolute; */
        top: auto;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 60%);
    }
    .collection-image {
        order: 1;
    }
    .collection-text {
        order: 2;
    }
    .buttons {
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    .mt-2 {
        margin-top: 20px;
    }
    .adventure, .adventure-image {
        padding: 0;
    }
    .adventure-text {
        height: 320px;
        margin-top: -40px;
        width: 90%;
        text-align: center;
    }
    .adventure-icons {
        width: 78px;
        height: 53px;
        /* background-color: var(--color-primary-brand); */
        bottom: 61%;
        position: absolute;
        left: 10%;
        border-bottom: 8px solid var(--color-primary-brand);
    }
    .adventure-text h2 {
        font-size: 1.5rem;
        line-height: 2.5rem;
        margin-top: 4rem;
    }
}

    
